# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Optional: if using Yarn
.yarn-integrity

# dotenv environment variables file
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode
.vscode/

# Jest coverage
coverage/

# Production build
build/

# Docker
docker-compose.yml
docker-compose.override.yml
